[submodule "src/crazyflie_ros"]
	path = src/crazyflie_ros
	url = https://github.com/whoenig/crazyflie_ros
[submodule "src/slam_gmapping"]
	path = src/slam_gmapping
	url = https://github.com/ros-perception/slam_gmapping
